h1 {
	font-size: 45px;
	font-weight: 300;
	line-height: 64px;
	letter-spacing: -0.01em;
	margin: 0;
}

h3 {
	font-size: 25px;
	font-weight: 300;
}

/** Elements **/
core-toolbar {
	background: #FFFFFF;
	color: white;
}

core-item {
	padding: 12px;
}

core-header-panel {
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch; 
}

/** Main toolbar **/
core-scaffold::shadow core-toolbar {
	background-color: #FC6F64;
	color: #fff;
}

/** Classes **/
h3#menu-header {
	color: black;
	margin: 24px;
}

.header-text .maintitle {
	padding-left: 24px;
}

.header-text .subtitle {
	padding: 12px 12px 0px;
}

.container {
	width: 60%;
	margin: 50px;
}

.social-images {
	margin-left: auto; 
	margin-right: 0;
}

.social-images a {
	text-decoration: none;
}

.social-images img {
	width: 48px; 
	height: 48px;
	padding: 0 4px;
}