/* General styling */
html,
body {
    height: 100%;
    margin: 0;
    background-color: #F2F2F2;
    font-size: 16px;
    font-weight: 300;
    font-family: 'RobotoDraft', sans-serif;
    color: #717171;
    transition: opacity ease-in 0.2s;
}

a,
a:link,
a:visited {
	font-size: inherit;
	text-decoration: none;
	color: #C57676;
}

a:hover{
    color: #E54539;
}

a:focus, a:active, 
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0;
    outline : 0;
}

p {
	line-height: 23px;
}

h2 {
	font-size: 22px;
	padding-left: 2px;
	font-weight: 500;
}

h3 {
	margin: 10px 0px;
}

h4 {
	margin: 5px;
}

tr.space-under > td
{
  	padding-bottom: 25px;
}

.icon {
	width: 24px;
	height: 24px;
}

app-layout /deep/ core-scaffold /deep/ core-drawer-panel core-header-panel core-toolbar {
	background-color: #4C4A4F;
    color: #fff;
}

.header-link-right {
	display: inline;
	padding-bottom: 40px;
}

.header-link-right a {
	font-size: 20px;
	float: right;
	padding-right: 20px;
	font-weight: 300;
	color: #D0756E;
}

.subsection-heading {
	margin-top: 20px;
	padding: 10px 15px;
	background-color: #f3f3f3;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 18px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.subsection-content {
	padding: 15px;
	border: 1px solid #dedede;
	border-top: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.subsection-content ul {
	padding-left: 25px;
	margin: 0;
}

.subsection-heading-subtitle1 {
	font-size: 14px;
	padding-top: 10px;
	color: #353535;
}

.subsection-heading-subtitle2 {
	font-size: 12px;
	padding-top: 10px;
	color: #6F6F6F;
}

.border-right {
	border-right: 1px solid #eee;
}

.post {
	padding-bottom: 8px;
}

.post .post-read-more {
	margin: 10px 0;
}

.post .post-date {
	font-weight: 400;
	font-size: 15px;
	padding-bottom: 15px;
	color: #888;
}

.first-letter-uppercase {
 	display: inline-block;
}

.first-letter-uppercase:first-letter {
 	text-transform:uppercase;
}

/* Index page */
.index-page .general-info {
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.index-page .general-info img{
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

/* Resume page */
.resume-page .summary-header {
	text-align: center;
}

.resume-page .summary-table {
	width: 100%;
	padding: 30px;
}

.resume-page .summary-table .summary-table-section div {
	padding: 5px;
}

.resume-page .summary-table .summary-table-section div span {
	font-weight: 300;
}

.resume-page .icon {
	color: #656565;
}

.resume-page #ghcard-yyunikov-1 {
	margin-top: 20px;
}

.resume-page /deep/ stackoverflow-card {
	margin: 0 20px;
}

.resume-page .contact td {
	padding-right: 10px;
}

.resume-page .contact tr {
	padding-bottom: 10px;
}

.resume-page .icon {
	color: #656565;
}

.index-page .photo {
	margin: 0 0 0 auto;
	padding-right: 20px;
}

.resume-page .contact .contact-title {
	color: #656565;
}

.resume-page .projects-label {
	margin-top: 20px;
}

.resume-page .project-title {
	padding-top: 10px;
}

.resume-page .project-subtitle {
	font-size: 12px;
	padding-top: 5px;
	color: #383838;
}

.resume-page .project-description {
	font-size: 14px;
	padding-top: 10px;
	color: #353535;
}

/* Portfolio page */
.portfolio-page .portfolio-list {
	padding: 0;
	list-style: none;
}

/* Applications page */
.applications-page .app-icon {
	width: 48px;
	height: 48px;
}

.applications-page .app-title {
	margin-left: 15px;
}

/* Blog categories page */
.blog-categories-page .category {
	padding: 10px;
}

.blog-categories-page .category a {
	display: block;
}

/* Category page */
.category-page-all #category .card-content,
.category-page #category .card-content {
	padding: 30px;
}

@media screen and (max-width:  550px) {
	.index-page .summary-table {
		padding: 0;
		table-layout: fixed;
	}

	.index-page .summary-table th core-icon{
		width: 100%;
	}

	.index-page .summary-table .summary-table-section div span {
		font-size: 13px;
		text-align: center;
	}

	.resume-page .contact td {
		white-space: nowrap;
		padding-right: 0;
	}

	.resume-page .about-websites {
		display: block!important;
		text-align: center;
	}

	.resume-page .general-info {
	  	display: block!important;
	}

	.resume-page .general-info .photo img {
	  	margin: auto;
		display: block;
		padding: 10px;
	}

	.resume-page .about-websites stackoverflow-card {
		margin: 20px 20px;
		width: 210px;
		display: inline-block;
	}
}

@media screen and (max-width:  650px) {
	.portfolio-page .portfolio-image {
		width: 100%;
	}
}

@media print {
}