<paper-card heading="[[app.name]]" class="defaultCard" id="applicationsInfoCard">
  <div class="card-content">
    <div>
      <img src="[[app.mid_img_src]]" class="app-icon" alt="[[app.name]]"></img>
    </div>
    <div horizontal layout class="title-desc-container">
      <html-string html="[[app.desc]]" class="app-description"></html-string>
      <div vertical layout class="app-download-section">
        <a href="https://play.google.com/store/apps/details?id=[[app.package]]&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" target="_blank"><img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/en-play-badge.png" width="185" height="60" /></a>
        <a href="http://www.amazon.com/gp/product/[[app.amazon_id]]" target="_blank"><img alt="Available at Amazon" src="images/amazon-apps-link.png" width="185" height="60"></a>
        <a href="http://android.oms.apps.opera.com/en_us/[[app.opera_id]].html" target="_blank"><img alt="Available at Opera Mobile Store" src="images/opera-apps-link.png" width="185" height="60"></a>
      </div>
    </div>
    <div>
      <img src="[[app.screenshot]]" class="app-screenshot" alt="[[app.name]]"></img>
    </div>
  </div>
</paper-card>