<paper-card heading="Applications" class="defaultCard" id="applicationsCard">
  <div class="card-content">
	  {% for application in site.data.applications %}
	    <div class="subsection-heading">
			<div horizontal layout>
				<a data-route="applications/{{ application.url }}" href="#!/applications/{{ application.url }}">
					<img src="{{ application.small_img_src }}" class="app-icon" alt="{{ application.name }}" />
				</a>
				<div class="app-title">
					<a data-route="applications/{{ application.url }}" href="#!/applications/{{ application.url }}">{{ application.name }}</a>
					<div class="subsection-heading-subtitle2">{{ application.release_date }}</div>
				</div>
			</div>
			</div>
			<div class="subsection-content">
				{{ application.short_desc }}
			</div>
	  {% endfor %}
  </div>
</paper-card>