<title>{{site.name}}</title>

<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta name="keywords" content="yunikov, software, java, android, developer, development, engineer">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Java software engineer and Android enthusiast with 2+ years of experience interested in software design and development.">
<meta name="author" content="Yuriy Yunikov">
<meta name="language" content="english" />

<link rel="stylesheet" href="/css/main.css" shim-shadowdom />

<script type="text/javascript" src="/components/webcomponentsjs/webcomponents.min.js"></script>

<link rel="import" href="/components/polymer/polymer.html"/>
<link rel="import" href="/components/font-roboto/roboto.html" />
<link rel="import" href="/components/core-icons/hardware-icons.html"/>
<link rel="import" href="/components/core-icons/editor-icons.html"/>
<link rel="import" href="/components/core-scaffold/core-scaffold.html"/>
<link rel="import" href="/components/paper-item/paper-item.html"/>
<link rel="import" href="/components/polymer-ajax/polymer-xhr.html"/>
<link rel="import" href="/components/paper-shadow/paper-shadow.html"/>
<link rel="import" href="/components/core-animation/core-animation.html">

<link rel="import" href="/elements/app-layout.html" />
<link rel="import" href="/elements/app-card.html" />
<link rel="import" href="/elements/stackoverflow-card.html" />
<link rel="import" href="/elements/github-card.html" />
<link rel="import" href="/elements/github-gist.html">