<title>{{site.name}}</title>

<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">

<link rel="stylesheet" href="../css/main.css" shim-shadowdom>

<link rel="import" href="../elements/app-layout.html">
<link rel="import" href="../elements/app-card.html">
<link rel="import" href="../elements/github-card.html">

<link rel="import" href="../bower_components/core-collapse/core-collapse.html">
<link rel="import" href="../bower_components/font-roboto/roboto.html">