<head>

  <title>{{site.name}}</title>

  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/webcomponentsjs/webcomponents.min.js"></script>

  <link rel="stylesheet" href="../css/main.css">

  <link rel="import" href="../elements/app-layout.html">
  <link rel="import" href="../elements/app-card.html">

  <link rel="import" href="../bower_components/font-roboto/roboto.html">

</head>