<paper-card heading="About Me" id="aboutCard" class="defaultCard">
  <div class="card-content">
      <span class="text-left">Backend software engineer and Android enthusiast specialized in software design, architecture and development. Always interested in new startups which can make our world better. Like to work with web and mobile technologies, always seek for a new knowledge, technical challenges, curious about new technologies and obsessed by writing clean code and improving skills. Big fan of Open Source, Java, NoSQL, Git and StackOverflow.</span>
      <img src="http://www.gravatar.com/avatar/c6b04157e65ab1a1e0e61d220d06341d?s=128" alt="Yuriy Yunikov" class="round-image"/>
  </div>
  <div class="card-actions">
    <a href="https://docs.google.com/document/d/1-fDBLkXxlqsv5dZFmcOa1YN3M8tb5sLHwNSkAkNj9W4/edit?usp=sharing" target="_blank" class="unstyled-link">
      <paper-button>View Resume</paper-button>
    </a>
  </div>
</paper-card>
<paper-card heading="Social" id="socialCard" class="defaultCard">
  <div class="card-content">
    <div class="social-container">
      <div id="social-cards" class="social">
        <github-card user="yyunikov"></github-card>
        <stackoverflow-card user-id="1889928"></stackoverflow-card>
      </div>
      <div id="social-icons" class="social">
        <a href="https://plus.google.com/u/0/+YuriyYunikov/" target="_blank">
          <img src="images/googleplus.png" alt="Google+ - {{site.person}}">
        </a>
        <a href="http://ua.linkedin.com/in/yyunikov/" target="_blank">
          <img src="images/linkedin.png" alt="LinkedIn - {{site.person}}">
        </a>
        <a href="https://twitter.com/yyunikov" target="_blank">
          <img src="images/twitter.png" alt="Twitter - {{site.person}}">
        </a>
        <a href="http://careers.stackoverflow.com/yyunikov" target="_blank">
          <img src="images/stackoverflow.png" alt="StackOverflow Careers - {{site.person}}">
        </a>
        <a href="https://play.google.com/store/apps/dev?id=6972910091202284868" target="_blank">
          <img src="images/google_play.png" alt="Google Play - {{site.person}}">
        </a>
      </div>
    </div>
  </div>
</paper-card>