<paper-card heading="About Me" id="aboutCard" class="defaultCard">
  <div class="card-content">
      <span class="text-left">Software engineer with solid backend background, developed multiple Android apps, have experience and skill set for leading engineering teams. 
Specialized in software design, architecture, security and product development. Have a strong professional expertise in building and integrating identity and access management solutions.
Big fan of Open Source, Kotlin, Kubernetes, MongoDb, Git and StackOverflow. Interested in products and startups which can change the world in a better way.</span>
      <img src="https://www.gravatar.com/avatar/c6b04157e65ab1a1e0e61d220d06341d?s=128" alt="Yuriy Yunikov" class="round-image"/>
  </div>
  <div class="card-actions">
    <a href="https://docs.google.com/document/d/1-fDBLkXxlqsv5dZFmcOa1YN3M8tb5sLHwNSkAkNj9W4/edit?usp=sharing" target="_blank" class="unstyled-link">
      <paper-button>View Resume</paper-button>
    </a>
  </div>
</paper-card>
<paper-card heading="Social" id="socialCard" class="defaultCard">
  <div class="card-content">
    <div class="social-container">
      <div id="social-cards" class="social">
        <github-card user="yyunikov"></github-card>
        <stackoverflow-card user-id="1889928"></stackoverflow-card>
      </div>
      <div id="social-icons" class="social">
        <a href="https://ua.linkedin.com/in/yyunikov/" target="_blank">
          <img src="images/linkedin.png" alt="LinkedIn - {{site.person}}">
        </a>
        <a href="https://twitter.com/yyunikov" target="_blank">
          <img src="images/twitter.png" alt="Twitter - {{site.person}}">
        </a>
        <a href="https://stackoverflow.com/cv/yyunikov" target="_blank">
          <img src="images/stackoverflow.png" alt="StackOverflow - {{site.person}}">
        </a>
        <a href="https://play.google.com/store/apps/dev?id=6972910091202284868" target="_blank">
          <img src="images/google_play.png" alt="Google Play - {{site.person}}">
        </a>
      </div>
    </div>
  </div>
</paper-card>