<title>{{site.name}}</title>

<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta name="keywords" content="yunikov, software, java, android, developer, development, engineer">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Java software engineer and Android enthusiast with 2+ years of experience interested in software design and development.">
<meta name="author" content="Yuriy Yunikov">
<meta name="language" content="english" />

<link rel="alternate" type="application/atom+xml" title="{{ site.name }} — Feed" href="{{ site.url }}/blog/feed.atom" />

<!-- @if NODE_ENV == 'DEVELOPMENT' -->
<link rel="stylesheet" href="/css/main.css" shim-shadowdom />
<script type="text/javascript" src="/components/webcomponentsjs/webcomponents.js"></script>
<link rel="import" href="/components/polymer/polymer.html"/>
<link rel="import" href="/elements/common-elements.html"/>
<!-- @endif -->

<!-- @if NODE_ENV == 'PRODUCTION' -->
<link rel="stylesheet" href="/css/main.min.css" shim-shadowdom />
<script type="text/javascript" src="/components/webcomponentsjs/webcomponents.min.js"></script>
<link rel="import" href="/components/polymer/polymer.html"/>
<link rel="import" href="/elements/common-elements.vulcanized.html"/>
<!-- @endif -->